
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    text-align: center;
}

header {
    padding: 40px 20px;
}

header h1 {
    font-size: 36px;
    letter-spacing: 2px;
}

header p {
    opacity: 0.8;
    margin-top: 10px;
}

.hero img {
    width: 90%;
    max-width: 900px;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    transition: 0.4s;
}

.hero img:hover {
    transform: scale(1.03);
}

.gallery {
    padding: 50px 20px;
}

.gallery h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
    margin: auto;
}

.gallery-grid img {
    width: 100%;
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.gallery-grid img:hover {
    transform: scale(1.1);
}

.songs {
    padding: 50px 20px;
    background: rgba(0,0,0,0.2);
}

.songs h2 {
    margin-bottom: 20px;
}

.songs ul {
    list-style: none;
    max-width: 600px;
    margin: auto;
}

.songs li {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.songs li:hover {
    background: rgba(255,255,255,0.3);
    transform: translateX(10px);
}

footer {
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.7;
}

header p strong {
    color: crimson;
    font-size: 18px;
}

.goal {
    background: #111;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.goal h2 {
    color: crimson;
    font-size: 28px;
    margin-bottom: 10px;
}

.goal p {
    font-size: 18px;
    line-height: 1.6;
}

/* ====== PLANSHET (768px gacha) ====== */
@media (max-width: 768px) {

    header {
        padding: 15px;
        text-align: center;
    }

    .goal {
        padding: 15px;
    }

    .goal h2 {
        font-size: 22px;
    }

    .goal p {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    button {
        width: 100%;
        font-size: 15px;
    }
}


/* ====== TELEFON (480px gacha) ====== */
@media (max-width: 480px) {

    .goal {
        padding: 12px;
    }

    .goal h2 {
        font-size: 20px;
    }

    .goal p {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }

    #songInfo {
        font-size: 14px;
        padding: 10px;
    }
}